.form{
    font-size:1.1rem;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.form > label, select{
    margin-right:10px;
}

.options{
    padding:10px;
    background:lightblue;
    border:none;
    padding:10px;
    width:120px;
}

#amount{
    padding:10px;
}

button{
    padding:10px;
    width:80px;
    margin:5px;
    background:green;
    border:none;
    color:white;
    cursor:pointer;
    font-size:1rem;
}

